<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <springProperty name="logLevel" source="logback.level" defaultValue="INFO"/>

    <conversionRule conversionWord="safeMessage" converterClass="com.ligz.docker.log.logback.LogInjectionPreventMessageConverter" />

    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="com.ligz.docker.log.logback.MaskingLoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <pattern>
                        {
                        "tags": ["${appName}"],
                        "project": "${appName}",
                        "timestamp": "%date{\"yyyy-MM-dd'T'HH:mm:ss,SSSZ\"}",
                        "log_level": "%level",
                        "thread": "%thread",
                        "message": "%message",
                        "stack_trace": "%exception",
                        "request_id": "%X{X-SERVICE-REQUEST-ID}",
                        "request_uri": "%X{X-SERVICE-REQUEST-URI}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="consoleLog"/>
    </root>

</configuration>
